section.ejercicio-1{
	border:  gray 2px solid;
	margin: 20px;
	display: block;
}


div{
	height: 150px;
	width: 200px;
}

div.amarillo{
	background-color: yellow;
}

div.azul{
	background-color: blue;
}

div.rojo{
	background-color: red;
}

