
section.ejercicio-1{
	border:  gray 2px solid;
	margin: 20px;
	display: block;
}

section.ejercicio-2{
	border:  gray 2px solid;
	margin: 10px;
	overflow: auto;
}


div{
	height: 150px;
	width: 200px;
	float: left;
}

div.amarillo{
	background-color: yellow;
}

div.azul{
	background-color: blue;
}

div.rojo{
	background-color: red;
}

